# Music Recommender System

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('spotify_millsongdata.csv')

In [4]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
#checking null value 
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [10]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [11]:
df.sample(5)

,artist,song,text
4871,John Prine,A Good Time,Time was once just a clock to me \r\nAnd life...
3580,Zebrahead,Big Shot,LH cause 714 is the area \r\nEverybody grab a...
1451,Poison,Poor Boy Blues,"My daddy said \r\n""Son, don't you come to me ..."
2059,Lea Salonga,Reaching Out,"What must I do, to make you understand \r\nYo..."
1051,Dolly Parton,Calm On The Water,(Dolly Parton) \r\nIn a dream I was walkin' i...

In [12]:
df['text'][0]

"[Chorus:]  \r\nDaddy where ever you are remember me  \r\nIn what ever you, do I love you  \r\nDaddy where ever you are remember me  \r\nIn what ever you do, I love you  \r\n  \r\nYou left for the city many years ago  \r\nPromised to come back  \r\nAnd take care of us  \r\nMany years have gone by now  \r\nStill no sign of you Daddy  \r\n  \r\nMother died of a heart attack  \r\nMany years ago when she heard  \r\nThat you were married again  \r\nNow, I'm the only one left in the family  \r\n  \r\n[Chorus]  \r\n  \r\nWandering up and down  \r\nThe streets of Soweto  \r\nNo place to call my home  \r\nI tried to find you  \r\nMany years ago  \r\nBut the woman you're married to  \r\nwas no good at all  \r\n  \r\n[Chorus]  \r\n  \r\nDaddy yo'  \r\n  \r\n[Chorus]\r\n\r\n"

##### we have to nove \r\n from the text dataset
##### it has a very big data not easy for handle with normal gpu so, we do the text analysis on sample dataset

In [13]:
df.head()

,artist,song,text
0,Lucky Dube,Remember Me,[Chorus:] \r\nDaddy where ever you are rememb...
1,Vertical Horizon,One Of You,Breathe in the water \r\nDrown in the sky \r...
2,Dolly Parton,Back Home,"Back home, back home \r\nYes, I'm going back ..."
3,Dusty Springfield,Mama Said,[Chorus] \r\nMama said there'll be days like ...
4,Zoegirl,Nick Of Time,I led a lonesome journey \r\nFull of disdain ...

In [14]:
df.shape

(5000, 3)

Text cleaning and Text preparation

In [15]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace('\n',' ',regex=True)

In [16]:
df.head()

,artist,song,text
0,Lucky Dube,Remember Me,[chorus:] \r daddy where ever you are remembe...
1,Vertical Horizon,One Of You,breathe in the water \r drown in the sky \r ...
2,Dolly Parton,Back Home,"back home, back home \r yes, i'm going back h..."
3,Dusty Springfield,Mama Said,[chorus] \r mama said there'll be days like t...
4,Zoegirl,Nick Of Time,i led a lonesome journey \r full of disdain a...

In [17]:
import nltk 
from nltk.stem.porter import PorterStemmer

In [18]:
stemmer = PorterStemmer()

In [19]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a= [stemmer.stem(w) for w in token]
    return " ".join(a)

In [20]:
#example
token('you are nso beautiful')

'you are nso beauti'

In [21]:
df['text'].apply(lambda x: token(x))

0       [ choru : ] daddi where ever you are rememb me...
1       breath in the water drown in the sky high , hi...
2       back home , back home ye , i 'm go back home w...
3       [ choru ] mama said there 'll be day like thi ...
4       i led a lonesom journey full of disdain and fu...
                              ...
4995    children of abraham , what 's your stori ? kil...
4996    ride in my thunderbird on the freeway i turn o...
4997    hold me like there 's no tomorrow there can be...
4998    born in the springtim when blossom unfold the ...
4999    childhood part of my life , it wa n't veri pre...
Name: text, Length: 5000, dtype: object

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words = 'english')

In [24]:
matrix = tfid.fit_transform(df['text'])

In [25]:
similar = cosine_similarity(matrix)

In [26]:
similar[0]

array([1.        , 0.00311663, 0.183776  , ..., 0.01599889, 0.02340461,
       0.01707688])

In [27]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [30]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:5]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [31]:
recommendation('In Your Eyes')

['Ride A Black Swan',
 'Watching The World',
 "I'd Rather Be Gone",
 'No Surprize']

In [32]:
import pickle
pickle.dump(similar,open('similar.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))